{% load url from future %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Live Search Test</title>
	<meta name="viewport" content="width=device-width, intial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/scheduler.css">
	<script>
	$('body').scrollspy({
		target: '.search-wrapper'
		offset: 20
		});
	</script>
	
	<script type="text/javascript">
	function searchSuccess(data, textState, jqXHR)
	{
		handleSearchResultJson.html(data);
	}
	
	function handleSearchResultJson(data)
	{
		$.each(data.courses, displayResult);
	}
	
	function displayResult(index, course)
	{
		$("result-wrapper").append(
		"<div class='well well-sm result-well panel panel-default'>" +
			"<div class='panel-body no-vertical-padding'>" +
			"<div class='col-sm-8'>" +
				"<div class='row'>" +
				course.meeting.meeting_class.dept + result.meeting.meeting_class.class_number +
				"</div> <div class='row'>"
				course.meeting.recur_type + result.meeting.start_time + "-" + result.meeting.end_time +
				"</div></div><div class='col-sm-4'>" +
				"<div class='row'>" +
				"<button type='button' class='btn btn-danger btn-xs'>Add</button>" +
				"<button type='button' class='btn btn-info btn-xs'>Info</button>" +
				"</div></div></div></div>");
	}
	
	function search()
	{
		$.getJson("/scheduler/search/", { 'criterion' : $("#course_search").val() }, searchSuccess);
	}
	</script>
</head>
<body>
<div id="search-wrapper" class="search-wrapper">
	<input type="text" id="course_search" class="form-control" placeholder="Search" type="search" onkeyup="search()"> 
	<div class="side-searchbar">
			<div class="result-wrapper"> </div>
			<div class="row" id="search_result"></div>
	</div>
	</div>
	<div class="container"> 
	<div class="row">
	<h1>Scheduler!</h1>
		 <div class="col-sm-10"> Here goes the schedule!</div> 
	</div>
	</div>
	<script src="http://code.jquery.com/jquery.min.js"></script>
	<script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>


</body>
</html>