{% load url from future %}
<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>CWRU Scheduler</title>

<meta name="viewport" content="width=device-width, intial-scale=1.0">
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/scheduler.css">
<link rel="stylesheet" href="{{ STATIC_URL }}print.css" type="text/css" media="print" />
<link rel='stylesheet' href='/static/js/fullcalendar/fullcalendar.css'/>
<link rel='stylesheet' href='/static/js/fullcalendar/fullcalendar.print.css' type="text/css" media="print"/>

<script src="{{ STATIC_URL }}jquery-2.1.1.min.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
<script src="{{ STATIC_URL }}js/scheduler.search.js"></script>
<script src='{{ STATIC_URL }}js/fullcalendar/lib/jquery.min.js'></script>
<script src='{{ STATIC_URL }}js/fullcalendar/lib/moment.min.js'></script>
<script src='{{ STATIC_URL }}js/fullcalendar/fullcalendar.js'></script>

<script>
$.getScript("{{ STATIC_URL }}js/jquery.cookie.js", function(){

	$.getScript("{{ STATIC_URL }}js/scheduler.csrf_util.js", function(){
			initializeCSRF();
		});
	});
</script>


<style type='text/css'>
#calendar {
	background-color: #ffffff;
	margin: 10px;
}

</style>

</head>

<body>
	<div class="modal fade" id="event-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="myModalLabel">Create Custom Event</h4>
				</div>
				<div class="modal-body">
					HEY
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary">Submit</button>
				</div>
			</div>
		</div>
	</div>


	<div class="container-fluid" style="height: calc(100%)">
		<div class="row-fluid">
			<div class="col-md-6 col-md-offset-3 col-sm-8">
				<nav class="navbar navbar-default" role="navigation">
					<div class="container-fluid">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#scheduler-navbar">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
						</div>
						<div class="collapse navbar-collapse" id="scheduler-navbar">
							<ul class="nav navbar-nav">
								<li id="active-link" class="active"><a href="#" class="scheduler-link">Schedule</a></li>
								<li><a href="#" data-toggle="modal" data-target="#event-modal" class="scheduler-link">Custom Event</a></li>
								<li><a href="/scheduler/about" class="scheduler-link">About</a></li>
							</ul>
							<ul class="nav navbar-nav navbar-right">
								<li><a href="#" class="glyphicon glyphicon-cog"></a></li>
							</ul>
						</div><!-- /.navbar-collapse -->
					</div><!-- /.container-fluid -->
				</nav>
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h2>Scheduler - Alpha</h2>
				</div>
				<div class="panel-body">
					<div id='calendar'>
					</div>
					<script>
						$('document').ready(function() {
							$('#calendar').fullCalendar({
								defaultView: 'agendaWeek',
								defaultDate: '2014-08-25',
								editable: false,
								minTime: "08:00:00",
								maxTime: "22:00:00",
								allDaySlot: false,
								events: 'event_json'
							});
						});
					</script>
				</div>
			</div>
		</div><!--  end left column -->
		<div class="col-md-3 col-sm-4">
			<div id="search-wrapper" class="search-wrapper">
				<input type="text" id="course_search" class="form-control" placeholder="Search" type="search" onkeyup="search()"> 
				<div id="search_result" class="side-searchbar">
				</div>
			</div>
		</div>
	</div>
</div><!-- end .container -->
</body>
</html>
