{% load url from future %}
<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>CWRU Scheduler</title>

<meta name="viewport" content="width=device-width, intial-scale=1.0">
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/scheduler.css">
<link href="{{ STATIC_URL }}cwruBW.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="{{ STATIC_URL }}print.css" type="text/css" media="print" />
<link rel='stylesheet' href='/static/js/fullcalendar/fullcalendar.css'/>
<link rel='stylesheet' href='/static/js/fullcalendar/fullcalendar.print.css' type="text/css" media="print"/>

<script src="{{ STATIC_URL }}jquery-2.1.1.min.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
<script src="{{ STATIC_URL }}js/jquery.cookie.js"></script>
<script src="{{ STATIC_URL }}js/scheduler.csrf_util.js"></script>
<script src="{{ STATIC_URL }}js/scheduler.search.js"></script>
<script src='{{ STATIC_URL }}js/fullcalendar/lib/jquery.min.js'></script>
<script src='{{ STATIC_URL }}js/fullcalendar/lib/moment.min.js'></script>
<script src='{{ STATIC_URL }}js/fullcalendar/fullcalendar.js'></script>

<style type='text/css'>
#calendar {
	background-color: #ffffff;
	padding: 5px;
}

</style>

</head>
<body>
	<div class="container container-fluid">
			<div id="top">
				<table id="header">
					<tr>
						<td class="menuitem"><a href="/scheduler/add">Add a Course</a></td>
						<td class="menuitem"><a href="/scheduler/inssearch">Search for a Professor</a></td>
						<td class="menuitem"><a href="/scheduler/mycourses">My Courses</a></td>
						<td class="menuitem"><a href="/scheduler/customevent">Custom Event</a></td>
						<td style="float:right;"><a href="/scheduler/about">About</a></td>
					</tr>
				</table>
			</div>
	
	<div class="row-fluid" >
	  <div class="content col-md-6 col-md-offset-3 col-sm-8">
	  	<p>&nbsp;</p>
	    <h1>Scheduler - Alpha</h1>
			<div id='calendar' >
			</div>
			<script>
				$('document').ready(function() {
					$('#calendar').fullCalendar({
						defaultView: 'agendaWeek',
						defaultDate: '2014-08-25',
						editable: false,
						minTime: "08:00:00",
						maxTime: "22:00:00",
						allDaySlot: false,
						events: 'event_json'
					});
				});
			</script>
		</div>
		<div class="col-md-3 col-sm-4">
			<div id="search-wrapper" class="search-wrapper">
				<input type="text" id="course_search" class="form-control" placeholder="Search" type="search" onkeyup="search()"> 
				<div id="search_result" class="side-searchbar">
				</div>
			</div>
		</div>
	</div>
</div><!-- end .container -->
</body>
</html>
