@charset "utf-8";
.no-buffer 
{
	margin-bottom:0px;
}

.no-padding
{
	padding:0px;
}

.no-vertical-padding
{
	padding-bottom:0px;
	padding-top:0px;
}

.vertical-margin-xs
{
	margin-bottom: 1px;
	margin-top: 1px;
}

.nearly-fills-width
{
	margin-left: 1px;
	width: calc(100% - 2px);
}

.sm-bottom-margin
{
	margin-bottom:10px;
}

.search-wrapper
{
	position: fixed;
	width: calc(20%);
	margin-right: 10px;
	margin-left: 10px;
	height: calc(100% - 40px);
	right: 0;
	left: auto;
}

.side-searchbar
{
	overflow-y: scroll;
	overflow-x: hidden;
	height: calc(100%);
	width: calc(100%);
}